.browserupgrade {
  /*margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;*/
}
body{
  background-color:#000;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/*-------------My css----------------*/

div.greet_page{
  background-color:#000;
  width:100%;
  height:100vh;
  position:absolute;
  top:0;
  z-index:1;
}
div.b-container{
  width:inherit;
  background-color:inherit
}
div.top-b,.right-b,.bot-b,.left-b{
  /*border:1px solid #fff;*/
  position:absolute;
  z-index:20;
  background-color:#fff;
}
.top-b{
  top:0;
  width:100%;
  height:35px;
  /*margin-top:1px;*/
}
.right-b{
  right:0;
  top:0; 
  height:calc(100% - 1px);
  width:35px;
  margin-top:1px;
}
.bot-b{
  bottom:0;
  width:100%;
  height:35px;
}
.left-b{
  left:0;
  top:0;
  height:calc(100% - 1px);
  width:35px;
  margin-top:1px;
}

div.text{
  color:#c3c;
  font-size: 5em;
  /*margin:7% auto;*/
  padding-top:7%;
  /*border:1px solid #fff;*/
  height:100vh;
  text-align: center;
}
div.text object{
  width:70%;
  /*float:right;*/
  text-align: center;
}
div.text object embed{
  margin-left:0;
}
div.text p{
  text-align: center;
}

section{
width:100%;
height:100vh;
}
/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
