.browserupgrade {
  /*margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;*/
}
body{
  background-color:#000;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/*-------------My css----------------*/
div.nav-wrap{
  position:fixed;
  top:30px;
  z-index:1000;
}
button#nav-button{
  background:none;
  border:none;
  width:40px;
  height:32px;
  position:fixed;
  top:35px;
  right:2.5%;
  z-index: 1500;
  display:block;
  transform-origin: center center;
  cursor: pointer;
  transition:all 0.5s cubic-bezier(1, 0.02, 0.41, 0.98);
}
button#nav-button:active{
  border:none;
  color:transparent;
}
/*button#nav-button:focus{
  outline:none;
}*/


html #nav-button span{
  width:100%;
  height:2px;
  display:block;
  background-color:#FFF;
  transition:all 1s cubic-bezier(1, 0.02, 0.41, 0.98); /*all 0.5s cubic-bezier(0.5,.02,0,.96)*/ 
}

#nav-button span.line-tog{
 /*display:none;*/
}

.clicked{
  transform:rotate(180deg) translateX(12px);
}
#nav-button.clicked .line1{
  transform:rotate(45deg) translateX(50%) translateY(10px);
}
#nav-button.clicked .line2{
  transform:translateX(-20%) translateX(1.5px) translateY(-12px);
}
#nav-button.clicked .line3{
  transform:rotate(-45deg) translateX(-20%) translateY(-21px);
}

span.line1,span.line2,span.line3{
  position:absolute;
  left:0;
}


span.line1{
  top:0;
}
span.line2{
  top:48%;
}
span.line3{
  bottom:0;
}

nav#overlay-nav{
  background-color:rgba(2, 2, 75, 0.7);
  width:100%;
  position:fixed;
  height:100vh;
  z-index:999;
  display:none;
}

nav#overlay-nav ul{
  /*width:50%;
  height:inherit;*/
  margin:40vh auto;
  text-align:center;
  font-size:1.7em;
}

li.nav-list{
  list-style-type:none !important;
  color:#FFF;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;

}


div.greet_page{
  /*background-color:#27374e;*/
  background-color:#272424;
  width:100%;
  height:100vh;
  position:absolute;
  top:0;
  z-index:1;
}
div.b-container{
  /*width:inherit;
  background-color:inherit;*/
}
div.top-b,.right-b,.bot-b,.left-b{
  /*border:1px solid #fff;*/
  position:fixed;
  z-index:20;
  /*top:0;*/
}
div.bars{
  background-color:#000;
}

.top-b{
  top:0;
  width:100%;
  height:25px;
  /*margin-top:1px;*/
}
.right-b{
  right:0;
  top:0; 
  height:calc(100% - 1px);
  width:25px;
  margin-top:1px;
}
.bot-b{
  bottom:0px;
  width:100%;
  height:25px;
}
.left-b{
  left:0;
  top:0;
  height:calc(100% - 1px);
  width:25px;
  margin-top:1px;
}

div.text{
  color:#fff;
  font-size: 2pc;
  /*margin:7% auto;*/
  padding-top:7%;
  /*border:1px solid #fff;*/
  height:100vh;
  text-align: center;
}
div.text object{
  width:70%;
  /*float:right;*/
  text-align: center;
}
div.text object embed{
  margin-left:0;
}
div.text p{
 text-align:left;
}
.my-intro p{
  display:none;
  padding:0 0 0 15%;
}
.my-silh{
  display:none;
}

section{
width:100%;
height:100vh;
}
/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
